{% if items %}
  <div class="row">
    <div class="col-sm-12" style="text-align: center;">
      <ul class="pageNav pagination pagination_all_updates" id="pages">
        <li class="" id="prev">
          {{ data.prev }}
        </li>
        {% for key,item in items %}
          <li class="pages_1 {% if key == data.currentPage %}active{% endif %}" id="{{ key }}" >
            {{ item }}
          </li>
        {% endfor %}
        <li class="" id="next">
          {{ data.next }}
        </li>
      </ul>
    </div>
  </div>
{% endif %}