<div class="content" id ="replaced-data">
  <div id="mtlWrapper">
    {% for da in data %}
      <article class="thought-article">
        <div class="article-image">
          <img src="{{ da.image }}">
        </div>
        <div class="article-content">
          <h4 class="article-headline"><p>{{ da.headline }}</p>
          </h4>
        </div>
        <a href="{{ da.link }}"></a>
      </article>
    {% endfor %}
    <article class="text-center thought-article-more">
      {{ leadershippager }}
    </article>
  </div>
</div>